@import '../../scss/variables';
@import '../../scss/mixins';

.input {
    border: none;
    outline: none;
    padding: 0.8rem 0 0.8rem 0.8rem;
    background-color: $white-semi-transparent;
    transition: $transition;

    &::placeholder {
        @include text(1.4rem, regular, none, $grey-dark);
    }
}