@import '../../scss/variables';
@import '../../scss/mixins';

.select {
    position: relative;

    &__input {
        width: 100%;
        border: none;
        outline: none;
        padding: 0.8rem;
        background-color: $white-semi-transparent;
        transition: $transition;
    }

    &__input:focus .dropdown {
        opacity: 1;
    }
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem;
    opacity: 0;
    transition: $transition;
}