@import '../../scss/variables';
@import '../../scss/mixins';

.select {
    position: relative;

    &__label {
        width: 100%;
    }

    &__input {
        width: 93.5%;
        border: none;
        outline: none;
        padding: 0.8rem;
        background-color: $white-semi-transparent;
        transition: $transition;
    }

    &__dropdown {
        position: absolute;
        top: 3.3rem;
        left: 0;
        width: 93.5%;
        padding: 0.8rem;
        transition: $transition;
        list-style: none;
        background-color: $white-semi-transparent;
    }

    &__dropdown-item {
        padding: 0.5rem;
        border-radius: 0.5rem;
        @include text(1.4rem, 400, none, $black);
        transition: $transition;
    }

    &__dropdown-item:hover {
        background-color: $blue-light;
        color: $white;
    }
}