@import '../../scss/variables';
@import '../../scss/mixins';

.tasks-list {
  &__list {
    margin-top: 2rem;
  }

  &__notification {
    @include text(2rem, regular, none, $black);
  }
}

.item {
  display: grid;
  grid-template-columns: 0.2fr 5fr 1.5fr 0.7fr;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.7rem 1rem;
  background-color: $blue-light;

  &__checkbox-box {

  }

  &__title {

  }

  &__priority {

  }

  &__buttons {
    text-align: right;
  }
}