@import '../../scss/variables';
@import '../../scss/mixins';

.form {
    display: flex;
    align-items: center;

    &__input-box {
        width: 60%;
    }

    &__buttons {
        width: 20%;
    }
}