$white: #ffffff;
$black: #000000;
$grey-light: #bdbdbd;
$grey-dark: #4d4d4d;
$blue-light: #4389B38E;
$blue: #4389b3;
$white-semi-transparent: #ffffff8a;
$golden: #865101;
$red: #a81c1c;
$transition: all 0.3s ease;